.reveal .slides section img {
    border: none;
}

.reveal .slides section img[alt="DevOps Aufgaben"],
.reveal .slides section img[alt="DevOps Ausbildung"] {
    box-shadow: none;
}

.reveal .slides section img[alt="DevOps Roadmap"] {
    height: 60vh;
}

.reveal .slides section.col-2 > p {
    float: left;
    width: 50%;
    word-wrap: break-word;
}

.reveal .slides section.t-210  {
    top: 210px !important;
}
